Repository vibe80/vibe80: changes, and which Drone steps are due for each by the changed paths.
All: build_base_image, build_android_apk

build_base_image:
  image: plugins/docker:20.14
  settings:
    username:
      from_secret: registry_username
    password:
      from_secret: registry_token
    registry: git.lab.adho.app
    repo: git.lab.adho.app/mont5piques/vibe80-base
    dockerfile: Dockerfile.base
    context: .
    mtu: 1440
    tags:
    - latest

build_android_apk:
  image: thyrlian/android-sdk:latest
  environment:
    REGISTRY_USERNAME:
      from_secret: registry_username
    REGISTRY_TOKEN:
      from_secret: registry_token
  commands:
  - cd mobile
  - echo "Build Number $DRONE_BUILD_NUMBER"
  - echo "Commit SHA ${DRONE_COMMIT_SHA:0:8}"
  - java -version
  ...

Restore missing localization keys used by Android screens
  mobile/androidApp/src/main/res/values-en/strings.xml
  mobile/androidApp/src/main/res/values/strings.xml
  mobile/iosApp/iosApp/Resources/en.lproj/Localizable.strings
  mobile/iosApp/iosApp/Resources/fr.lproj/Localizable.strings
  mobile/localization/strings.en.json
  mobile/localization/strings.fr.json
Due: build_android_apk

Render tool and command results inline as collapsible panels on mobile
  mobile/androidApp/src/main/kotlin/app/vibe80/android/ui/components/MessageBubble.kt
  mobile/androidApp/src/main/kotlin/app/vibe80/android/ui/screens/ChatScreen.kt
  mobile/androidApp/src/main/kotlin/app/vibe80/android/viewmodel/ChatViewModel.kt
  mobile/androidApp/src/main/res/values-en/strings.xml
  mobile/androidApp/src/main/res/values/strings.xml
  mobile/iosApp/iosApp/Components/MessageRow.swift
  mobile/iosApp/iosApp/Resources/en.lproj/Localizable.strings
  mobile/iosApp/iosApp/Resources/fr.lproj/Localizable.strings
  mobile/localization/strings.en.json
  mobile/localization/strings.fr.json
Due: build_android_apk

android: handle ISO datetime fields across mobile models
  mobile/androidApp/src/main/kotlin/app/vibe80/android/viewmodel/SessionViewModel.kt
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/models/Session.kt
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/models/Worktree.kt
Due: build_android_apk

Delay websocket error toast until 3 consecutive failures
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/repository/SessionRepository.kt
Due: build_android_apk

Prevent empty sync payloads from wiping worktree histories
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/repository/SessionRepository.kt
Due: build_android_apk

Forbid workspace create and credentials login in mono_user mode
  server/src/routes/workspaces.js
  server/tests/integration/routes/workspaces-routes.test.js
Due: none

Add mono_user login-required step to session gate
  client/src/App.jsx
  client/src/components/SessionGate/SessionGate.jsx
Due: none

Always consume mono_auth hash token regardless of stored auth state
  client/src/hooks/useWorkspaceAuth.js
Due: none

Revert "chore(explorer): stronger root DnD highlight (dashed border + glow)"
  client/src/index.css
Due: none

Revert "fix(explorer): allow root dragover even when files list empty (types Files)"
  client/src/components/Explorer/ExplorerPanel.jsx
Due: none

Revert "fix(explorer): allow root drag & drop highlight and upload"
  client/src/components/Explorer/ExplorerPanel.jsx
  client/src/index.css
Due: none

Revert "fix(explorer): allow drag & drop to root directory"
  client/src/components/Explorer/ExplorerPanel.jsx
Due: none

Adjust diff fallback spacing and remove background styling
  client/src/index.css
Due: none

Revert "feat(explorer): drag & drop upload + move in tree"
  client/src/App.jsx
  client/src/components/Explorer/ExplorerPanel.jsx
  client/src/hooks/useExplorerActions.js
  client/src/index.css
  server/src/routes/worktrees.js
Due: none

Add new folder action in explorer with backend folder endpoint
  client/src/App.jsx
  client/src/components/Explorer/ExplorerPanel.jsx
  client/src/hooks/useExplorerActions.js
  client/src/locales/en.json
  client/src/locales/fr.json
  server/src/routes/worktrees.js
Due: none

Emit typed websocket auth errors for client-side reauth handling
  server/src/index.js
Due: none

Avoid clearing history on empty getWorktree snapshots
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/repository/SessionRepository.kt
Due: build_android_apk

Use OR condition between processing and codex readiness for chat input
  mobile/androidApp/src/main/kotlin/app/vibe80/android/ui/screens/ChatScreen.kt
Due: build_android_apk

Handle typed WS auth errors with token refresh and reconnect
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/models/WebSocketMessages.kt
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/network/ApiClient.kt
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/repository/SessionRepository.kt
Due: build_android_apk

Remove merge option from worktree close confirmation
  client/src/App.jsx
  client/src/hooks/useWorktreeCloseConfirm.js
Due: none

Render action_result as expandable tool-style panel
  client/src/App.jsx
  client/src/components/Chat/ChatMessages.jsx
  client/src/locales/en.json
  client/src/locales/fr.json
Due: none

refactor(front): remove multiline composer mode and related setting
  client/src/App.jsx
  client/src/components/Chat/ChatComposer.jsx
  client/src/components/Chat/useChatComposer.js
  client/src/components/Settings/SettingsPanel.jsx
  client/src/hooks/useLocalPreferences.js
  client/src/index.css
  client/src/locales/fr.json
Due: none

fix(front): hide deny git credentials toggle in mono_user mode
  client/src/App.jsx
  client/src/components/SessionGate/SessionGate.jsx
  client/src/components/Topbar/Topbar.jsx
  client/src/components/WorktreeTabs.jsx
Due: none

android: suppress TURN_ERROR snackbar and keep logs only
  mobile/androidApp/src/main/kotlin/app/vibe80/android/ui/screens/ChatScreen.kt
Due: build_android_apk

mobile: revamp composer menu with model and action modes
  mobile/androidApp/src/main/kotlin/app/vibe80/android/ui/screens/ChatScreen.kt
  mobile/androidApp/src/main/kotlin/app/vibe80/android/viewmodel/ChatViewModel.kt
  mobile/androidApp/src/main/res/values-en/strings.xml
  mobile/androidApp/src/main/res/values/strings.xml
  mobile/iosApp/iosApp/Components/ComposerView.swift
  mobile/iosApp/iosApp/Resources/en.lproj/Localizable.strings
  mobile/iosApp/iosApp/Resources/fr.lproj/Localizable.strings
  mobile/iosApp/iosApp/ViewModels/ChatViewModel.swift
  mobile/iosApp/iosApp/Views/ChatView.swift
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/models/WebSocketMessages.kt
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/network/WebSocketManager.kt
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/repository/SessionRepository.kt
Due: build_android_apk

web: strip vibe80 blocks from browser notification text
  client/src/hooks/useNotifications.js
Due: none

mobile: phase 1 align create worktree flow with web
  mobile/androidApp/src/main/kotlin/app/vibe80/android/ui/components/CreateWorktreeSheet.kt
  mobile/androidApp/src/main/kotlin/app/vibe80/android/ui/screens/ChatScreen.kt
  mobile/androidApp/src/main/kotlin/app/vibe80/android/viewmodel/ChatViewModel.kt
  mobile/androidApp/src/main/res/values-en/strings.xml
  mobile/androidApp/src/main/res/values/strings.xml
  mobile/iosApp/iosApp/Components/WorktreeViews.swift
  mobile/iosApp/iosApp/Resources/en.lproj/Localizable.strings
  mobile/iosApp/iosApp/Resources/fr.lproj/Localizable.strings
  mobile/iosApp/iosApp/ViewModels/ChatViewModel.swift
  mobile/iosApp/iosApp/Views/ChatView.swift
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/models/Worktree.kt
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/network/ApiClient.kt
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/repository/SessionRepository.kt
Due: build_android_apk

android: fix notification tap routing to target worktree
  mobile/androidApp/src/main/kotlin/app/vibe80/android/notifications/MessageNotifier.kt
  mobile/androidApp/src/main/kotlin/app/vibe80/android/ui/navigation/NavHost.kt
Due: build_android_apk

mobile: share notification sanitizer and apply on Android
  mobile/androidApp/src/main/kotlin/app/vibe80/android/notifications/MessageNotifier.kt
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/utils/NotificationSanitizer.kt
Due: build_android_apk

android/shared: preserve selected session repoUrl on reconnect
  mobile/androidApp/src/main/kotlin/app/vibe80/android/viewmodel/SessionViewModel.kt
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/repository/SessionRepository.kt
Due: build_android_apk

style(front): tweak command execution title and icon alignment
  client/src/index.css
Due: none

build(docker): install tini in base image and use it as entrypoint
  Dockerfile
  Dockerfile.base
Due: build_base_image

fix(server): propagate shutdown signals to codex and claude processes
  server/src/claudeClient.js
  server/src/index.js
Due: none

fix(front): reset worktree and UI state on session switch
  client/src/App.jsx
Due: none

fix(front): expand user command panels by default
  client/src/components/Chat/ChatMessages.jsx
Due: none

feat(front): add line annotations mode and right rail for assistant text
  client/src/App.jsx
  client/src/components/Chat/ChatMessages.jsx
  client/src/components/Chat/useChatComposer.js
  client/src/hooks/useChatCommands.js
  client/src/hooks/useChatSend.js
  client/src/index.css
  client/src/locales/en.json
  client/src/locales/fr.json
Due: none

fix(front): keep symmetric chat grid in annotation mode
  client/src/index.css
Due: none

chore(front): mark /annotation command as EXPERIMENTAL
  client/src/components/Chat/useChatComposer.js
  client/src/locales/en.json
  client/src/locales/fr.json
Due: none

feat(front): render annotation hover lines as markdown and hide normal text
  client/src/components/Chat/ChatMessages.jsx
  client/src/index.css
Due: none

style(front): increase annotation source line font size to 13px
  client/src/index.css
Due: none

Path conditions:
  build_base_image: any of: tools/**, docker/**, Dockerfile.base
  build_android_apk: any of: mobile/**
