Repository vibe80/vibe80: changes, and which Drone steps are due for each by the changed paths.
All: build_base_image, build_android_apk

Path conditions:
  build_base_image: any of: tools/**, docker/**, Dockerfile.base
  build_android_apk: any of: mobile/**

Disable workspace deletion endpoint (405)
  server/src/routes/workspaces.js
Due: none

Remove legacy /wakup worktree wake endpoint
  docs/api/openapi.json
  server/src/routes/worktrees.js
Due: none

Namespace REST API under /api/v1
  client/src/hooks/useWorkspaceAuth.js
  docs/api/openapi.json
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/network/ApiClient.kt
  server/src/index.js
Due: build_android_apk

Update workspace delete test for 405 response
  server/tests/integration/routes/workspaces-routes.test.js
Due: none

fix(client): remove duplicated /v1 prefix in API routes
  client/src/hooks/useWorkspaceAuth.js
Due: none

fix(android): allow handoff consume across all base URLs
  mobile/androidApp/src/main/kotlin/app/vibe80/android/viewmodel/SessionViewModel.kt
Due: build_android_apk

Migrate API usage to v1
  client/src/components/Chat/useChatComposer.js
  client/src/hooks/useAttachments.jsx
  client/src/hooks/useBacklog.js
  client/src/hooks/useChatClear.js
  client/src/hooks/useChatCommands.js
  client/src/hooks/useExplorerActions.js
  client/src/hooks/useGitIdentity.js
  client/src/hooks/useRepoBranchesModels.js
  client/src/hooks/useRepoStatus.js
  client/src/hooks/useSessionHandoff.js
  client/src/hooks/useSessionLifecycle.js
  client/src/hooks/useSessionResync.js
  client/src/hooks/useWorkspaceAuth.js
  client/src/hooks/useWorktrees.js
  client/vite.config.js
  docs/architecture/phase-0-specs.md
  docs/architecture/workspace-architecture.md
  docs/architecture/workspace-implementation-plan.md
  docs/server-test-strategy-sprint1.md
  scripts/README.md
  scripts/worktree_message.sh
  server/tests/integration/routes/workspaces-routes.test.js
Due: none

Move terminal websocket to /terminal-ws
  client/src/hooks/useTerminalSession.js
  client/vite.config.js
  server/src/index.js
Due: none

Update mobile API endpoints to v1
  mobile/PROGRESS.md
  mobile/androidApp/src/main/kotlin/app/vibe80/android/data/AttachmentUploader.kt
Due: build_android_apk

Move branches/models under session routes
  client/src/hooks/useRepoBranchesModels.js
  docs/api/openapi.json
  mobile/PROGRESS.md
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/network/ApiClient.kt
  server/src/routes/git.js
Due: build_android_apk

Cache workspace user existence checks
  server/src/services/workspace.js
Due: none

Ensure run-as checks workspace users
  server/src/runAs.js
Due: none

Clean Claude credentials before writing
  server/src/services/workspace.js
Due: none

Use path sessionId for attachment uploads
  server/src/services/session.js
Due: none

Remove transition docs
  REFACTORING.md
  REFACTO_2.1.md
Due: none

Remove mobile transition doc
  mobile/PROGRESS.md
Due: build_android_apk

Remove transition documents
  docs/architecture/phase-0-specs.md
  docs/architecture/root-helpers.md
  docs/architecture/workspace-architecture.md
  docs/architecture/workspace-implementation-plan.md
  docs/server-test-strategy-sprint1.md
Due: none

Remove claude mapping file
  claude_mapping.md
Due: none

Move claude installation to a separate Dockerfile
  Dockerfile.base
  Dockerfile.claude
Due: build_base_image

ci: migrate drone pipeline to GitHub Actions + GHCR
  .github/workflows/ci.yml
  README.md
Due: none

Delete .drone.yml
  .drone.yml
Due: none

Adjust CI job conditions for base image and Android build
  .github/workflows/ci.yml
Due: none

Move to ghcr
  Dockerfile
Due: none

Make build_image depend on base image jobs
  .github/workflows/ci.yml
Due: none

Fix build_image skip when dependency job is skipped
  .github/workflows/ci.yml
Due: none

Update Dockerfile
  Dockerfile
Due: none

Move Dockerfiles into docker directory
  .github/workflows/ci.yml
  docker/Dockerfile
  docker/Dockerfile.base
  docker/Dockerfile.claude
Due: build_base_image

Add docker compose file under docker directory
  docker/docker-compose.yml
Due: build_base_image

Use named Docker volumes in compose file
  docker/docker-compose.yml
Due: build_base_image

Add CONTRIBUTING guide for open source contributors
  CONTRIBUTING.md
Due: none

Add Apache-2.0 licensing and update contribution guide
  CONTRIBUTING.md
  LICENSE
  NOTICE
  package.json
Due: none

Add license section to README
  README.md
Due: none

Add Docker Hub image mirroring after GHCR build
  .github/workflows/ci.yml
Due: none

Fix Docker Hub mirror job being skipped unexpectedly
  .github/workflows/ci.yml
Due: none

Reconcile workspace AI credentials after workspace recreation
  server/src/services/workspace.js
Due: none

Update source image for Dockerfile.claude
  docker/Dockerfile.claude
Due: build_base_image

Fix Monaco cursor jumping to end while typing
  client/src/components/Explorer/ExplorerPanel.jsx
Due: none

Add instance hostname to session health response
  server/src/routes/sessions.js
Due: none

Run Codex app-server with sqlite feature enabled
  server/src/codexClient.js
Due: none
