Repository vibe80/vibe80: changes, and which Drone steps are due for each by the changed paths.
All: build_base_image, build_android_apk

Path conditions:
  build_base_image: any of: tools/**, docker/**, Dockerfile.base
  build_android_apk: any of: mobile/**

fix(composer): prevent input/model overlap while keeping legacy width
  client/src/index.css
Due: none

feat(diff): render untracked files and directories in repository diff
  client/src/App.jsx
  client/src/components/Diff/DiffPanel.jsx
  client/src/hooks/useRepoStatus.js
  client/src/index.css
  client/src/locales/en.json
  client/src/locales/fr.json
Due: none

style(diff): align untracked file panels with diff line layout
  client/src/components/Diff/DiffPanel.jsx
  client/src/index.css
Due: none

style(diff): set --diff-font-family to Space Mono
  client/src/index.css
Due: none

feat(mono_user): remplacer default/default par auth link one-shot
  bin/vibe80.js
  client/src/hooks/useWorkspaceAuth.js
  server/src/index.js
  server/src/routes/workspaces.js
  server/src/services/auth.js
Due: none

feat(explorer): drag & drop upload + move in tree
  client/src/App.jsx
  client/src/components/Explorer/ExplorerPanel.jsx
  client/src/hooks/useExplorerActions.js
  client/src/index.css
  server/src/routes/worktrees.js
Due: none

fix(explorer): allow drag & drop to root directory
  client/src/components/Explorer/ExplorerPanel.jsx
Due: none

fix(explorer): allow root drag & drop highlight and upload
  client/src/components/Explorer/ExplorerPanel.jsx
  client/src/index.css
Due: none

fix(explorer): allow root dragover even when files list empty (types Files)
  client/src/components/Explorer/ExplorerPanel.jsx
Due: none

chore(explorer): stronger root DnD highlight (dashed border + glow)
  client/src/index.css
Due: none

Fix french console outputs
  bin/vibe80.js
Due: none

feat(server): add CLI to rotate workspace secret by workspaceId
  server/package.json
  server/scripts/rotate-workspace-secret.js
  server/src/services/workspace.js
Due: none

docs: add server test strategy sprint 1 plan
  docs/server-test-strategy-sprint1.md
Due: none

test(server): bootstrap sprint 1 test stack with vitest, initial unit/integration tests and CI step
  .drone.yml
  .gitignore
  package-lock.json
  server/package.json
  server/tests/README.md
  server/tests/factories/workspaceFactory.js
  server/tests/fixtures/workspaceCredentials.json
  server/tests/integration/routes/workspaces-routes.test.js
  server/tests/setup/env.js
  server/tests/unit/services/auth.test.js
  server/vitest.config.js
Due: none

test(server): add integration coverage for POST /workspaces/refresh
  server/tests/integration/routes/workspaces-routes.test.js
Due: none

test(server): extend workspace route integration tests for GET authz and PATCH update flows
  server/tests/integration/routes/workspaces-routes.test.js
Due: none

test(server): add integration coverage for DELETE /workspaces/:workspaceId
  server/tests/integration/routes/workspaces-routes.test.js
Due: none

test(server): add unit coverage for helpers and deepen auth service branches
  server/tests/unit/helpers.test.js
  server/tests/unit/services/auth.test.js
Due: none

test(server): cover mono_auth_token login flow integration branches
  server/tests/integration/routes/workspaces-routes.test.js
Due: none

test(server): add workspace service unit tests and extend refresh integration branches
  server/tests/integration/routes/workspaces-routes.test.js
  server/tests/unit/services/workspace.test.js
Due: none

feat(api): migrate datetime fields to ISO 8601 strings and align OpenAPI schemas
  docs/api/openapi.json
  server/src/helpers.js
  server/src/routes/sessions.js
  server/src/routes/worktrees.js
  server/src/worktreeManager.js
Due: none

refactor(client): normalize backlog datetime fields to ISO 8601
  client/src/hooks/useBacklog.js
Due: none

Enforce workspace UID/GID allocation and reuse from storage
  server/src/services/workspace.js
  tools/vibe80-root/main.go
  tools/vibe80-run-as/main.go
Due: build_base_image

Support parallel refresh token chains per workspace
  server/src/index.js
  server/src/routes/workspaces.js
  server/src/services/auth.js
  server/src/storage/redis.js
  server/src/storage/sqlite.js
  server/tests/integration/routes/workspaces-routes.test.js
  server/tests/unit/services/auth.test.js
Due: none

Add inline code icon before tool label in expandable panel
  client/src/components/Chat/ChatMessages.jsx
  client/src/index.css
Due: none

Derive session providers dynamically from workspace config
  server/src/routes/sessions.js
  server/src/services/session.js
  server/src/storage/redis.js
  server/src/storage/sqlite.js
Due: none

android: log all API requests in logs view
  mobile/androidApp/src/main/kotlin/app/vibe80/android/data/AttachmentUploader.kt
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/network/ApiClient.kt
Due: build_android_apk

android: add refresh worktrees button next to logs
  mobile/androidApp/src/main/kotlin/app/vibe80/android/ui/screens/ChatScreen.kt
  mobile/androidApp/src/main/kotlin/app/vibe80/android/viewmodel/ChatViewModel.kt
  mobile/androidApp/src/main/res/values/strings.xml
Due: build_android_apk

android: add worktree API logging and surface API failures
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/network/ApiClient.kt
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/repository/SessionRepository.kt
Due: build_android_apk

Fix RpcLogEntry redeclaration in shared models
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/models/Session.kt
Due: build_android_apk

Handle system back gesture on session gate screens
  mobile/androidApp/src/main/kotlin/app/vibe80/android/ui/screens/SessionScreen.kt
Due: build_android_apk

android: accept ISO timestamps for worktree createdAt
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/models/Worktree.kt
Due: build_android_apk

fix(mobile): align websocket protocol with server
  mobile/androidApp/src/main/kotlin/app/vibe80/android/ui/components/WorktreeTabs.kt
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/models/WebSocketMessages.kt
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/models/Worktree.kt
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/network/WebSocketManager.kt
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/repository/SessionRepository.kt
Due: build_android_apk

android: refresh worktrees on chat enter
  mobile/androidApp/src/main/kotlin/app/vibe80/android/viewmodel/ChatViewModel.kt
Due: build_android_apk

android: tolerate command_execution_completed item payload shape
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/models/WebSocketMessages.kt
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/repository/SessionRepository.kt
Due: build_android_apk

fix(android): set adjustResize to fix keyboard gap with input bar
  mobile/androidApp/src/main/AndroidManifest.xml
Due: build_android_apk

Remove local saved-session flow from Android session gate
  mobile/androidApp/src/main/kotlin/app/vibe80/android/Vibe80Application.kt
  mobile/androidApp/src/main/kotlin/app/vibe80/android/data/SessionPreferences.kt
  mobile/androidApp/src/main/kotlin/app/vibe80/android/ui/screens/SessionScreen.kt
  mobile/androidApp/src/main/kotlin/app/vibe80/android/viewmodel/ChatViewModel.kt
  mobile/androidApp/src/main/kotlin/app/vibe80/android/viewmodel/SessionViewModel.kt
Due: build_android_apk

Fix random missing messages when switching worktree tabs
  mobile/androidApp/src/main/kotlin/app/vibe80/android/ui/screens/ChatScreen.kt
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/repository/SessionRepository.kt
Due: build_android_apk

Enable text selection for markdown messages on Android
  mobile/androidApp/src/main/kotlin/app/vibe80/android/ui/components/MessageBubble.kt
Due: build_android_apk

Log TURN_ERROR-triggering websocket events in app logs
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/repository/SessionRepository.kt
Due: build_android_apk
