Repository vibe80/vibe80: changes, and which Drone steps are due for each by the changed paths.
All: build_base_image, build_android_apk

build_base_image:
  image: plugins/docker:20.14
  settings:
    username:
      from_secret: registry_username
    password:
      from_secret: registry_token
    registry: git.lab.adho.app
    repo: git.lab.adho.app/mont5piques/vibe80-base
    dockerfile: Dockerfile.base
    context: .
    mtu: 1440
    tags:
    - latest

build_android_apk:
  image: thyrlian/android-sdk:latest
  environment:
    REGISTRY_USERNAME:
      from_secret: registry_username
    REGISTRY_TOKEN:
      from_secret: registry_token
  commands:
  - cd mobile
  - echo "Build Number $DRONE_BUILD_NUMBER"
  - echo "Commit SHA ${DRONE_COMMIT_SHA:0:8}"
  - java -version
  ...

Reset deny git credentials toggle on session leave
  client/src/App.jsx
  client/src/hooks/useSessionReset.js
Due: none

Set sensible default runtime configuration values
  server/src/index.js
  server/src/storage/index.js
  server/src/storage/sqlite.js
Due: none

Log mono auth URL directly from server startup
  server/src/index.js
Due: none

Align docker-compose with mono_user docker run example
  docker/docker-compose.yml
Due: build_base_image

Update Android base URL to app.vibe80.io
  mobile/androidApp/src/main/kotlin/app/vibe80/android/Vibe80Application.kt
Due: build_android_apk

Remove Refresh worktrees button from Android chat screen
  mobile/androidApp/src/main/kotlin/app/vibe80/android/ui/screens/ChatScreen.kt
Due: build_android_apk

Gate Android logs UI behind global release flag
  mobile/androidApp/src/main/kotlin/app/vibe80/android/Vibe80Application.kt
  mobile/androidApp/src/main/kotlin/app/vibe80/android/ui/screens/ChatScreen.kt
Due: build_android_apk

0.1.1
  package-lock.json
  package.json
Due: none

Prebuild client for npm package and skip runtime build
  bin/vibe80.js
  package.json
Due: none

Update license
  package-lock.json
Due: none

0.1.2
  package-lock.json
  package.json
Due: none

Fix global npm startup and include server runtime deps
  bin/vibe80.js
  package-lock.json
  package.json
Due: none

0.1.3
  package-lock.json
  package.json
Due: none

Auto-provision mono_user AI providers from environment
  server/src/index.js
  server/src/services/workspace.js
Due: none

Add signed Android release APK workflow on version tags
  .github/workflows/ci.yml
  mobile/androidApp/build.gradle.kts
Due: build_android_apk

Publish Android release APK to GitHub Releases
  .github/workflows/ci.yml
Due: none

Fix Android release R8 missing class warnings
  mobile/androidApp/proguard-rules.pro
Due: build_android_apk

Derive Android release version from git tag
  .github/workflows/ci.yml
  mobile/androidApp/build.gradle.kts
Due: build_android_apk

Use HOME-based defaults for sqlite and jwt key paths
  server/src/middleware/auth.js
  server/src/storage/sqlite.js
Due: none

fix: Add /home/vibe80 dir to docker image
  docker/Dockerfile.base
Due: build_base_image

feat(server): add MONO_USER_WORKSPACE_DIR for mono workspace path
  server/src/runAs.js
  server/src/services/workspace.js
Due: none

chore(docker): set MONO_USER_WORKSPACE_DIR to /home/vibe80
  docker/Dockerfile
Due: build_base_image

fix(server): allow mono_user cwd under MONO_USER_WORKSPACE_DIR
  server/src/runAs.js
Due: none

ci(release): publish npm package on v* tags
  .github/workflows/ci.yml
Due: none

ci(docker): tag ghcr and dockerhub images with git tag version
  .github/workflows/ci.yml
Due: none

feat(server): add VIBE80_DATA_DIRECTORY and derive JWT/SQLite defaults
  bin/vibe80.js
  server/src/middleware/auth.js
  server/src/storage/sqlite.js
Due: none

chore(docker): set vibe80 user home to /home/vibe80 in base image
  docker/Dockerfile.base
Due: build_base_image

feat(mono_user): control provider activation via CLI flags and env
  bin/vibe80.js
  server/src/services/workspace.js
Due: none

fix(claude): make client ready by default and busy only during active process
  server/src/claudeClient.js
Due: none

fix(claude): rehydrate main client after restart for ws/http worktree messages
  server/src/index.js
  server/src/routes/worktrees.js
Due: none

feat(terminal): make node-pty optional and disable terminal when unavailable
  package-lock.json
  package.json
  server/package.json
  server/src/index.js
  server/src/routes/sessions.js
Due: none

chore(docker): update compose for mono_user providers and home volume
  docker/docker-compose.yml
Due: build_base_image

Update README.md
  README.md
Due: none

Update README.md to add claude notice
  README.md
Due: none

feat(front): add setup docs link in Configure AI providers step
  client/src/App.jsx
  client/src/components/SessionGate/SessionGate.jsx
Due: none

ci: restrict release/build jobs to main scope
  .github/workflows/ci.yml
Due: none

fix(ios): use Shared module import for KMP framework
  mobile/iosApp/iosApp/Components/ComposerView.swift
  mobile/iosApp/iosApp/Components/DiffSheetView.swift
  mobile/iosApp/iosApp/Components/MessageRow.swift
  mobile/iosApp/iosApp/Components/WorktreeViews.swift
  mobile/iosApp/iosApp/Vibe80App.swift
  mobile/iosApp/iosApp/ViewModels/ChatViewModel.swift
  mobile/iosApp/iosApp/ViewModels/SessionViewModel.swift
  mobile/iosApp/iosApp/Views/ChatView.swift
Due: build_android_apk

fix(ios): adapt app to updated shared KMP APIs
  mobile/iosApp/iosApp/Components/MessageRow.swift
  mobile/iosApp/iosApp/Components/WorktreeViews.swift
  mobile/iosApp/iosApp/ViewModels/ChatViewModel.swift
  mobile/iosApp/iosApp/ViewModels/SessionViewModel.swift
  mobile/iosApp/iosApp/Views/ChatView.swift
Due: build_android_apk

fix(ios): stabilize Xcode project for KMP build
  mobile/iosApp/iosApp.xcodeproj/project.pbxproj
Due: build_android_apk

Path conditions:
  build_base_image: any of: tools/**, docker/**, Dockerfile.base
  build_android_apk: any of: mobile/**
