Repository vibe80/vibe80: changes, and which Drone steps are due for each by the changed paths.
All: build_base_image, build_android_apk

Path conditions:
  build_base_image: any of: tools/**, docker/**, Dockerfile.base
  build_android_apk: any of: mobile/**

android: remove duplicated nav bar declarations in chat screen
  mobile/androidApp/src/main/kotlin/app/vibe80/android/ui/screens/ChatScreen.kt
Due: build_android_apk

fix(web): hide fileref buttons while assistant message is streaming
  client/src/components/Chat/ChatMessages.jsx
  client/src/hooks/useChatSocket.js
Due: none

fix(web): keep new worktree modal open until create succeeds
  client/src/components/WorktreeTabs.css
  client/src/components/WorktreeTabs.jsx
  client/src/hooks/useWorktrees.js
Due: none

fix(server): make stat calls portable across linux and macos
  server/src/services/workspace.js
Due: none

refactor(server): use seconds-only env vars for session ttl
  server/src/services/session.js
  server/src/storage/redis.js
Due: none

refactor(config): standardize env vars with VIBE80_ prefix
  README.md
  bin/vibe80.js
  docker/Dockerfile
  docker/docker-compose.yml
  server/scripts/rotate-workspace-secret.js
  server/src/claudeClient.js
  server/src/codexClient.js
  server/src/config.js
  server/src/index.js
  server/src/middleware/auth.js
  server/src/middleware/debug.js
  server/src/providerLogger.js
  server/src/routes/workspaces.js
  server/src/runAs.js
  server/src/services/auth.js
  server/src/services/session.js
  server/src/services/workspace.js
  server/src/storage/index.js
  server/src/storage/redis.js
  server/src/storage/sqlite.js
  server/tests/integration/routes/workspaces-routes.test.js
  server/tests/setup/env.js
  server/tests/unit/services/auth.test.js
Due: build_base_image

mobile: submit yesno before send to hide buttons immediately
  mobile/androidApp/src/main/kotlin/app/vibe80/android/ui/components/MessageBubble.kt
  mobile/iosApp/iosApp/Components/MessageRow.swift
Due: build_android_apk

fix: disable session GC TTL by default when env is unset
  server/src/services/session.js
Due: none

perf: keep branches preload background-only and avoid branch reload after actions
  client/src/App.jsx
  client/src/hooks/useChatSocket.js
  client/src/hooks/useRepoBranchesModels.js
Due: none

Build docker images on all branches without mirroring
  .github/workflows/ci.yml
Due: none

CI: Do dockerhub mirroring automatically after build_image
  .github/workflows/ci.yml
Due: none

feat: optimize clone strategy and branch discovery for worktrees
  server/src/services/session.js
  server/src/worktreeManager.js
Due: none

mobile: add setup doc link in AI providers screens
  mobile/androidApp/src/main/kotlin/app/vibe80/android/ui/screens/SessionScreen.kt
  mobile/androidApp/src/main/res/values-en/strings.xml
  mobile/androidApp/src/main/res/values/strings.xml
  mobile/iosApp/iosApp/Resources/en.lproj/Localizable.strings
  mobile/iosApp/iosApp/Resources/fr.lproj/Localizable.strings
  mobile/iosApp/iosApp/Views/SessionView.swift
Due: build_android_apk

fix: disable delete worktree dialog actions during API call
  client/src/App.jsx
  client/src/hooks/useWorktreeCloseConfirm.js
Due: none

feat: use icon-only resume/delete buttons in session gate list
  client/src/components/SessionGate/SessionGate.jsx
  client/src/index.css
Due: none

feat: add PATCH session for git creds, permissions and name updates
  server/src/middleware/debug.js
  server/src/routes/sessions.js
  server/src/services/session.js
Due: none

feat: add session configure action in SessionGate with PATCH support
  client/src/App.jsx
  client/src/components/SessionGate/SessionGate.jsx
  client/src/index.css
Due: none

feat: move session configuration to dedicated SessionGate view
  client/src/App.jsx
  client/src/components/SessionGate/SessionGate.jsx
  client/src/index.css
  client/src/locales/en.json
  client/src/locales/fr.json
Due: none

feat: simplify new session form and align repository auth styling
  client/src/App.jsx
  client/src/components/SessionGate/SessionGate.jsx
Due: none

Revert "feat: simplify new session form and align repository auth styling"
  client/src/App.jsx
  client/src/components/SessionGate/SessionGate.jsx
Due: none

fix: align configure-session auth UI with create-session and remove name field
  client/src/App.jsx
  client/src/components/SessionGate/SessionGate.jsx
Due: none

fix: match configure-session input styling with create-session form
  client/src/components/SessionGate/SessionGate.jsx
Due: none

feat: switch existing-session configure flow to dedicated lower-panel view
  client/src/App.jsx
  client/src/components/SessionGate/SessionGate.jsx
  client/src/locales/en.json
  client/src/locales/fr.json
Due: none

fix: add mobile-web-app-capable meta and remove stale update handler call
  client/index.html
  client/src/components/SessionGate/SessionGate.jsx
Due: none

fix: remove duplicate session name hint in configure view
  client/src/components/SessionGate/SessionGate.jsx
Due: none

Add missing assets
  client/public/icon_square-512x512.png
  client/public/icon_square.svg
  client/src/assets/vibe80_dark.png
  client/src/assets/vibe80_light.png
Due: none

fix(ios): remove stale BranchesSheetView.swift reference from xcodeproj
  mobile/iosApp/iosApp.xcodeproj/project.pbxproj
Due: build_android_apk

fix(ios): stabilize Xcode project for KMP build
  mobile/iosApp/iosApp.xcodeproj/project.pbxproj
Due: build_android_apk

fix(ios): use Shared module import for KMP framework
  mobile/iosApp/iosApp/Components/ComposerView.swift
  mobile/iosApp/iosApp/Components/DiffSheetView.swift
  mobile/iosApp/iosApp/Components/MessageRow.swift
  mobile/iosApp/iosApp/Components/WorktreeViews.swift
  mobile/iosApp/iosApp/Vibe80App.swift
  mobile/iosApp/iosApp/ViewModels/ChatViewModel.swift
  mobile/iosApp/iosApp/ViewModels/SessionViewModel.swift
  mobile/iosApp/iosApp/Views/ChatView.swift
Due: build_android_apk

Fix KMP commonMain Volatile imports
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/network/ApiClient.kt
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/network/WebSocketManager.kt
  mobile/shared/src/commonMain/kotlin/app/vibe80/shared/repository/SessionRepository.kt
Due: build_android_apk

feat(ios): align iOS app features with Android (Phase 2)
  mobile/iosApp/iosApp.xcodeproj/project.pbxproj
  mobile/iosApp/iosApp/Components/ComposerView.swift
  mobile/iosApp/iosApp/Components/ErrorBannerView.swift
  mobile/iosApp/iosApp/Components/FileSheetView.swift
  mobile/iosApp/iosApp/Components/MarkdownTextView.swift
  mobile/iosApp/iosApp/Components/MessageRow.swift
  mobile/iosApp/iosApp/Components/Vibe80BlockParser.swift
  mobile/iosApp/iosApp/Components/Vibe80ChoicesView.swift
  mobile/iosApp/iosApp/Components/Vibe80FormView.swift
  mobile/iosApp/iosApp/Components/Vibe80YesNoView.swift
  mobile/iosApp/iosApp/Components/WorktreeViews.swift
  mobile/iosApp/iosApp/Services/NotificationManager.swift
  mobile/iosApp/iosApp/Vibe80App.swift
  mobile/iosApp/iosApp/ViewModels/ChatViewModel.swift
  mobile/iosApp/iosApp/ViewModels/SessionViewModel.swift
  mobile/iosApp/iosApp/Views/ChatView.swift
  mobile/iosApp/iosApp/Views/SessionView.swift
Due: build_android_apk

fix(ios): adapt app to updated shared KMP APIs
  mobile/iosApp/iosApp/Components/MessageRow.swift
  mobile/iosApp/iosApp/Components/WorktreeViews.swift
  mobile/iosApp/iosApp/ViewModels/ChatViewModel.swift
  mobile/iosApp/iosApp/ViewModels/SessionViewModel.swift
  mobile/iosApp/iosApp/Views/ChatView.swift
Due: build_android_apk
